@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap');
.container-category
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.container-all
{
    background-image: url(../assets/back.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Kaisei Decol', serif;
}
.infos
{
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.85em;
    height: 50px;
}
.category-title
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25vh;
    font-size: 2rem;
    font-family: 'Kaisei Decol', serif;
    color: white;
}
.general,
.jewelery,
.clothing,
.electronics
{
    margin: 1%;
    height: 45vh;
    width: 45%;
    background-color: black;
    font-size: 3rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 12px;
} 
.general:hover,
.jewelery:hover,
.clothing:hover,
.electronics:hover
{
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.jewelery
{
    background-image: url(../assets/jewelry.jpg);
}
.electronics
{
    background-image: url(../assets/electronics.jpg);
}
.clothing
{
    background-image: url(../assets/clothing.jpg);
}
.general
{
    background-image: url(../assets/general.jpg);
}
.electronics,
.clothing
{
    margin-bottom: 200px;
}
.general > a,
.jewelery > a,
.clothing > a,
.electronics > a
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
.category-title > h1
{
    z-index: 999;
}

@media screen and (max-width:1000px) {

    .category-title
    {
        font-size: 1rem;
    }
    .general,
    .jewelery,
    .clothing,
    .electronics
    {
        margin-top: 10%;
        width: 90%;
        height: 60vh;
    }
    .clothing
    {
        margin-bottom: 0px;
    }
    
}