.Produse
{
    min-height: calc(100vh - 280px - 20vh);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    align-self: center;
}
.loading
{       
    animation: rotation 2s infinite linear;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #C39108;
}
.loading-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(100vh - 280px - 20vh)
}
.add
{
  z-index: 999;
  height: 60px;
  width: 200px;
  position: fixed;
  bottom: 5%;
  right: -300px;
  color: white;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: green;
  transition: 850ms;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  cursor: default;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);

    }
    to {
      transform: rotate(359deg);

    }
  }
