.shop
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(75vh - 130px);
    width: 100%;
    background-image: url(../assets/kingsman2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
    color: white;
    font-family: 'Kaisei Decol', serif;
}

@media screen and (max-width:1000px) {
    .shop{
        background-attachment:scroll;
    }
    
}