*::-webkit-scrollbar {
  display: none;
}
*{
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html
{
  scroll-behavior: smooth;
}
#root
{
  min-height: 100vh;
  min-width: 100vw;
}
.App
{
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}