*::-webkit-scrollbar {
  display: none;
}
*{
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html
{
  scroll-behavior: smooth;
}
#root
{
  min-height: 100vh;
  min-width: 100vw;
}
.arrow-up
{
  position: fixed;
  bottom: 2%;
  right: 2%;
  height: 35px;
  width: 35px;
  z-index: 9999999;
  color:#aca99d
}
.App
{
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}